body {
    color: gray;
    font-size: 16pt;
}

h1 {
    color: red;
    opacity: 0.2;
    font-size: 140pt;
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: right;
}

p {
    margin: 10px;
}

a {
    color: blue;
    text-decoration: none;
}
