{% extends 'fragment/base.html' %}
{% load static %}
<!DOCTYPE html>

<!-- ページごとのCSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'resources/css/shohin/regist.css' %}">
{% endblock %}

<!-- タイトル -->
{% block page_title %}
    商品登録
{% endblock %}

<!-- コンテンツ -->
{% block content %}
    <div class="contents">
        <!-- メッセージ表示部 -->
        <div class="container-fluid">
            {% if messages %}
                <div class="row">
                    <div class="col-12">
                        {% for message in messages %}
                            <div class="{{ message.tags }}" role="alert" style="padding: 1.0ex 2.0ex;">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
                                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                </button>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            {% endif %}
        </div>
        
        <!-- 個別コンテンツ -->
        <div class="container-fluid animated fadeInUpSmall">
            <form action="" method="post" name="shohin_form">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-2">
                        <label for="kataban" class="col-form-label label_name">型番</label>
                    </div>
                    <div class="col-10">
                        {{ form.kataban }}
                        {% if form.kataban.errors %}
                            <p class="error_msg">{{ form.kataban.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label for="shohin_name" class="col-form-label label_name">商品名</label>
                    </div>
                    <div class="col-10">
                        {{ form.shohin_name }}
                        {% if form.shohin_name.errors %}
                            <p class="error_msg">{{ form.shohin_name.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label for="price" class="col-form-label label_name">単価</label>
                    </div>
                    <div class="col-10">
                        {{ form.price }}
                        {% if form.price.errors %}
                            <p class="error_msg">{{ form.price.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label for="zaikosu" class="col-form-label label_name">在庫数</label>
                    </div>
                    <div class="col-10">
                        {{ form.zaikosu }}
                        {% if form.zaikosu.errors %}
                            <p class="error_msg">{{ form.zaikosu.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label for="memo" class="col-form-label label_name">メモ</label>
                    </div>
                    <div class="col-10">
                        {{ form.memo }}
                        {% if form.memo.errors %}
                            <p class="error_msg">{{ form.memo.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>
            </form>
            
            <!-- BUTTON -->
            <div class="row">
                <div class="col-12 button_area">
                    <a href={% url 'shohin_list_view' %} class="common_circle_btn animsition-link"><i class="fas fa-chevron-left"></i><div class="btn_txt">戻る</div></a>
                    <!--<a class="js_regist_btn common_circle_btn animsition-link"><i class="fas fa-plus"></i><div class="btn_txt">登録</div></a>-->
                    {% if mode == 'regist' %}
                        <button class="animsition-link js_execute_btn common_circle_btn"><i class="fas fa-check"></i><div class="btn_txt">登録</div></button>
                    {% endif %}
                    {% if mode == 'update' %}
                        <button class="animsition-link js_execute_btn common_circle_btn"><i class="fas fa-check"></i><div class="btn_txt">更新</div></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- ページごとのjs -->
{% block extra_js %}
    <script src="{% static 'resources/js/shohin/regist.js' %}"></script>
    <script>
        var shohin_regist_view_url = "{% url 'shohin_regist_view' %}";
        var shohin_update_view_url = "{% url 'shohin_update_view' %}";
        var mode = "{{ mode }}";
    </script>
{% endblock %}
