@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css');
/* @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative'); */ /* font-family: 'Cinzel Decorative', cursive; */
@import url('https://fonts.googleapis.com/css?family=Merriweather'); /* font-family: 'Merriweather', serif; */

/* ------------------------------------------- */
/* bootstrap4のスタイルを上書き */
/* ------------------------------------------- */
.table td {
    border-top: 0px;
    padding: .7rem;
}
.alert-success {
    color: rgb(67, 124, 80);
}
.form-control:disabled, .form-control[readonly] {
    background-color: rgba(0, 0, 0, 0);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,10,.05);
}
/* ------------------------------------------- */
/* 全体の設定 */
/* ------------------------------------------- */
html {
    font-size: 62.5%;
}
body {
    letter-spacing: .1em;
    line-height: 1.4;
    font-size: 1.6em;
    font-family: 'Noto Sans JP';
    color: rgb(81, 81, 81);
}
/* ------------------------------------------- */
/* レイアウト設定 */
/* ------------------------------------------- */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 68px;
    background: rgb(254, 254, 254);
    /*
    border-bottom: solid 1px;
    border-bottom-color: rgba(80, 80, 80, .3);
    box-shadow: 0px 2px 5px 0px rgba(1, 1, 1, .9);
    box-shadow: 0px 1px 15px -3px rgba(130, 130, 130, 0.5);
    */
    box-shadow: 0px 6px 3px -1px rgba(190, 190, 190, 0.2);
    z-index: 1;
}
.contents{
    flex: 1;
    padding: 25px;
    /*background: rgb(225, 225, 225);*/
    /*background: linear-gradient(75deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(32,147,234,1) 100%);*/
    /*background: linear-gradient(105deg, rgb(237, 237, 237) 0%,rgb(237, 237, 237) 70%,rgb(230, 230, 230) 71%,rgb(230, 230, 230) 100%);*/
    background: linear-gradient(105deg, rgb(237, 237, 237) 0%,rgb(237, 237, 239) 70%,rgb(230, 230, 232) 71%,rgb(230, 230, 235) 100%);
    position: relative;
}
.footer{
    height: 31px;
    /*
    background: rgb(199, 150, 131);
    */
    background: rgb(254, 254, 254);
    /*padding: 10px 20px 20px 20px;*/
    padding-top: 6px;
    font-size: 1.1rem;
    /*
    box-shadow: 0px -1px 15px -3px rgba(130, 130, 130, 0.5);
    z-index: 1;
    */
}


/* Bootstrap のボタン（btn）は letter-spacing，line-heightをnormalにする */
.btn, .has-error {
    letter-spacing: normal;
    line-height: normal;
}

/* テキストボックスのオートコンプリート時の背景色 */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* ------------------------------------------- */
/* プレースホルダの色 */
/* ------------------------------------------- */
/* for Webkit */
.form-control::-webkit-input-placeholder{
    color: rgba(73, 48, 0, 0.7);
    font-size: 0.9em;
}
/* for Firefox */
.form-control::-moz-placeholder{
    color: rgba(73, 48, 0, 0.7);
    font-size: 0.9em;
}
 /* for Firefox 18以前 */
.form-control:-moz-placeholder{
    color: rgba(73, 48, 0, 0.7);
    font-size: 0.9em;
}
 /* for Windows IE */
.form-control:-ms-input-placeholder{
    color: rgba(73, 48, 0, 0.7);
    font-size: 0.9em;
}

/* ------------------------------------------- */
/* フェードイン */
/* ------------------------------------------- */
@keyframes fadeInUpSmall {
    from {
        opacity: 0;
        transform: translate3d(0, 25px, 0);
    }
    to {
        opacity: 1;
          transform: none;
    }
}
.fadeInUpSmall {
      animation-name: fadeInUpSmall;
}    

/* ------------------------------------------- */
/* Spinner */
/* ------------------------------------------- */
.is_hide{
    display:none; 
}
.loading{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,.2);
    z-index: 2147483647;
}
.loading::before{
    content:"";
    display:block;
    position:fixed;
    left:50%;
    top:50%;
    width:50px;
    height:50px;
    border-radius:5px;
    margin-top:-15px;
    margin-left:-15px;
    /*
    background:white;
    */
    box-sizing: content-box;
}
.loading::after{
    content:"";
    display:block;
    position:fixed;
    left:50%;
    top:50%;
    width:32px;
    height:32px;
    border-radius:20px;
    margin-top:-10px;
    margin-left:-10px;
    border:4px solid #60ABB9;
    border-right:4px solid white;
    animation: rotate 1s infinite linear;
    box-sizing: content-box;
}
@keyframes rotate {
    0%     { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

/* ------------------------------------------- */
/* ヘッダ部のタイトル文字 */
/* ------------------------------------------- */
.header-title {
    font-size: 4rem;
    font-family: 'Libre Barcode 128 Text', cursive;
}
/* ------------------------------------------- */
/* 汎用 */
/* ------------------------------------------- */
.color_white {
    color: white;
}
.common_btn {
    background-color: rgb(164, 164, 164);
    text-align: center;
    font-size: 1.6rem;
    padding: 12px 21px;
    border-radius: calc(1.6rem + 12px);
    color: white;
    border: none;
    font-family: 'Noto Sans JP';
    font-weight: 300;
    outline: none;
    transition: all 250ms 0s ease;
}
.common_btn:hover {
    background-color: rgb(115, 207, 207);
    outline: none;
}
.font_16 {
    font-size: 1.6rem;
}
.align_center {
    display: flex;
    align-items: center;
}
/* tebleの各行に配置するボタン */
.row_circle_btn {
    display: block;
    width: 47px;
    height: 47px;
    line-height: 47px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    color: rgb(81, 81, 71);
    transition: all 170ms 0s ease;
}
.row_circle_btn:hover {
    color: white !important;
    background-color: rgb(115, 207, 207);
}
.circle_btn {
    position: fixed;
    display: block;
    bottom: 55px;
    left: calc(100vw - 135px);
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: rgba(141, 141, 141, 1);
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0px 7px 5px 0px rgba(170, 170, 170, 0.5);
    transition: all 170ms 0s ease;
}
.circle_btn:hover {
    background-color: rgb(115, 207, 207);
}
.circle_btn_small {
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all 170ms 0s ease;
    color:white !important;
}
.circle_btn_small:hover {
    background-color: rgb(115, 207, 207);
}
/* エラーメッセージ */
.error_msg {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    color: rgb(249, 89, 89);
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
