@charset "utf-8";

/* ------------------------------------------- */
/* 納品登録画面 */
/* ------------------------------------------- */
.date_width {
    width: 16%;
}
.torihikisaki_width {
    width: 49%;
}
.kingaku_width {
    width: 22%;
}
.func_icon_width {
    width: 13%;
}
.func_icon_head {
    display: flex;
    justify-content: flex-end;
}
.date_row {
    font-size: 2.0rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
}
.torihikisaki_row {
    font-size: 2.2rem;
    font-weight: 400;
}
.kingaku_row {
    font-size: 2.2rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    text-align: right;
    overflow: hidden;
}
.func_icon_row {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* ------------------------------------------- */
/* 納品登録画面‐モーダル */
/* ------------------------------------------- */
.modal-lg {
    min-width: 98vw;
}

.label_name {
    text-align: right;
}
.shohin_ithiran_hr {
    margin: 3.0rem 0px 2.0rem 0px;
}
/* ------------------------------------------- */
/* モバイル用設定 */
/* ------------------------------------------- */
@media all and (max-width: 992px) {
    .modal-lg {
        min-width: 100vw;
    }
}
