@charset "utf-8";

/* ------------------------------------------- */
/* 取引登録画面 */
/* ------------------------------------------- */
/* 一覧部 */
.thead_tr {
    color: rgb(111, 111, 111);
    display: flex;
    align-items: center;
}
.thead_tr td {
    text-align: center;
    padding-bottom: 15px;
}
.thead_tr hr {
    background-color: rgb(191, 191, 191);
}
.date_width {
    width: 16%;
}
.bunrui_width {
    width: 10%;
}
.torihikisaki_width {
    width: 41%;
}
.kingaku_width {
    width: 18%;
}
.func_icon_width {
    width: 15%;
}
.func_icon_head {
    display: flex;
    justify-content: flex-end;
}
.date_row {
    font-size: 2.0rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    text-align: center;
    overflow: hidden;
}
.bunrui_row {
    font-size: 2.1rem;
    font-weight: 400;
    text-align: center;
}
.torihikisaki_row {
    font-size: 2.1rem;
    font-weight: 400;
}
.kingaku_row {
    font-size: 2.2rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    width: 18%;
    text-align: right;
    overflow: hidden;
}
.func_icon_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding-left: 35px !important;
    padding-right: 15px !important;
}

.syohin {
    width: 50%;
    overflow: hidden;
}
.price {
    font-size: 2.2rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    width: 18%;
    text-align: right;
    overflow: hidden;
}
.zaikosu {
    font-size: 2.2rem;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    width: 17%;
    text-align: right;
    overflow: hidden;
}

.syohin_kataban {
    font-size: 1.3rem;
    font-weight: 200;
}
.syohin_name {
    font-size: 2.1rem;
    margin: 0px;
    font-weight: 400;
}

/* ------------------------------------------- */
/* 取引登録画面‐モーダル */
/* ------------------------------------------- */
.modal_global {
    background: linear-gradient(105deg, rgb(239, 239, 239) 0%,rgb(239, 239, 239) 60%,rgb(227, 227, 227) 61%,rgb(227, 227, 227) 100%);
}
.modal_header_global {
    background-color: rgba(255, 255, 255, .5);
    padding-left: 25px;
    padding-right: 25px;
}
.modal_title {
	display: flex;
	align-items: center;
    font-size: 2rem;
    font-weight: 400;
}
.modal_boddy_global {
    padding: 25px;
}
.modal_footer_global {
    background-color: rgba(255, 255, 255, .5);
    padding-left: 25px;
    padding-right: 25px;
}
.label_name {
    text-align: right;
}
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
}
.w100 span {
    font-size: 1.6rem;
    font-weight: 300;
}
.shohin_ithiran_hr {
    margin: 10px 0px 0px 0px;
}
/*
.modal-lg {
    max-width: 95%;
}
*/