{% extends 'fragment/base.html' %}
{% load static %}
<!DOCTYPE html>

<!-- ページごとのCSS -->
{% block extra_css %}<link rel="stylesheet" href="{% static 'resources/css/home.css' %}">{% endblock %}

<!-- 個別コンテンツ -->
{% block content %}
<div class="container-fluid animated fadeInUpSmall">
    <div class="row">
        <div class="col-12">
            <ul class="menu_list">
                <li>
                    <a class="animsition-link" href={% url 'shohin_list_view' %}><i class="fas fa-caret-right fa-fw"></i>商品管理</a>
                </li>
                <li>
                    <a class="animsition-link" href={% url 'nohin_list_view' %}><i class="fas fa-caret-right fa-fw"></i>納品履歴</a>
                </li>
                <li>
                    <a class="animsition-link" href={% url 'nohin_list_view_deivery_note' %}><i class="fas fa-caret-right fa-fw"></i>納品書出力</a>
                </li>
            </ul>
        </div>
    </div><!-- end row-->
</div>
{% endblock %}
        